
.secondBG{
    /* position: absolute;
    width: 968.94px;
    height: 833.63px;
    left: 2617.9px;
    top: 1992.29px; */
    
    background: url(../../Images//pngwing\ 2.png);
    opacity: 0.1;
    /* transform: rotate(153.54deg); */
}